<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day20 - Assignment2</title>
</head>
<body>
    <div id="container">
        <div class="product" v-for="prod in products" :title="prod.name">
            <h2>{{prod.name}}</h2>            
            <p>Price : {{prod.price}}</p>
            <p>Color : 
                <span v-if="!prod.colors || !prod.colors.length">The information about available colors is missing</span>
                <span v-if="prod.colors" v-for="color in prod.colors">{{color}} </span>
            </p>
        </div>
    </div>

    <script type='module' >
        import Vue from 'https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.esm.browser.min.js';
        new Vue({
                data: {
                        products:
                            [
                                {
                                    name: 'Apple iPhone 12',
                                    price: 0,
                                    colors: [
                                        'Space Gray', 'White', 'Red'
                                    ]
                                },
                                {
                                    name: 'Apple iPhone 11',
                                    price: 780
                                },
                                {
                                    name: 'Apple iPhone X',
                                    price: 650,
                                    colors: [
                                        'Space Gray', 'Yellow', 'Red'
                                    ]
                                }
                            ]
                }   
            }).$mount('#container');
    </script>
</body>
</html>